@import url('https://fonts.googleapis.com/css?family=Open+Sans|Permanent+Marker');
/* 
font-family: 'Permanent Marker', cursive;
font-family: 'Open Sans', sans-serif;
*/
html {
	margin: 25px;
	height: 100vh;
	background: radial-gradient(#faebd7, #d7faeb);
}

.wrapper {
	display:grid;
	grid-template-columns: 25% 25% 25% 25%;
	justify-items: center;
	margin-bottom: 25px;
}

h1 {
	grid-column: 1/5;
	padding: 10px;
	font-family: 'Permanent Marker', cursive;
	font-size: 2em;
}

p {
	grid-column: 2/4;
	grid-row: 2/3;
	margin: 0 50px 0 50px;
}

form {
	grid-column: 2/4;
	grid-row: 3/4;
	margin: 50px 0 50px 0;
}

p,
form,
button {
	font-family: 'Open Sans', sans-serif;
}

input {
	margin: 0 10px 10px 0;
}

button, input:required {
	padding: 10px;
	border-radius: 7px;
	border: 2px solid gray;
	background: transparent;
	box-shadow: none;
}

input:valid {
  background-color: #d7faeb;
}

button:hover {
	background: #d7faeb;
}